# OSX
#
.DS_Store

# Node.js
#
node_modules
npm-debug.log
yarn-error.log

# build folders
#
dist
lib
es

# Locks
package-lock.json
yarn.lock

# Jest files
#
.jest
coverage

# Generated Cache files from rollup-plugins-typescript2
#
.rpt2_cache
*.log
.ideia
